.perfil__text {
  font-size: 1.4rem;
  color: #000000;
  font-weight: lighter; }

.section__text {
  font-size: 1.5rem;
  color: #5E5E5E; }

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #EBEBEB; }

img {
  display: block;
  max-width: 100%; }

button {
  outline: 0;
  border: 0; }

a {
  text-decoration: none; }

input {
  outline: none;
  border: none; }
  input::placeholder {
    color: #E2F0FE; }

.container {
  padding: 0 1.6rem;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%; }

.section {
  padding: 1rem 0; }

.nav__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  color: #5E5E5E;
  background-color: #ffff;
  margin-bottom: 2rem; }

.icon__nav--display {
  display: none; }

.fa-solid {
  color: #5E5E5E; }
  .fa-solid:hover {
    color: #000000; }

.fa-calendar-days {
  font-size: 1.8rem;
  color: #e7c33b; }

.fa-image {
  font-size: 1.8rem;
  color: #0A66C2; }

.wrapper__perfil {
  position: relative; }

.form__search {
  display: none; }

.perfil__nav-bar {
  background-image: url(/img/linke-nav-bar.jpg);
  background-position: center;
  background-size: cover;
  display: block;
  min-height: 10rem;
  margin: -1.2rem -1.2rem 0; }

.perfil__box {
  padding: 0;
  background-color: #ffff; }

.perfil__image {
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  top: -5rem;
  padding: .3rem;
  background-color: #ffff; }

.perfil__title {
  color: #000000;
  font-size: 2rem;
  text-align: center;
  margin: .5rem; }

.perfil__text {
  text-align: center;
  padding-bottom: 1rem; }

.section__text {
  margin: 2rem 0;
  text-align: center; }

.wrapper__post {
  background-color: #ffff;
  padding: 1rem 0;
  margin: 1rem 0; }

.post__section {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  margin-bottom: 2rem; }
  .post__section--border {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    border-bottom: #CCCCCC solid 0.1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem; }

.post__user {
  border-radius: 50%;
  max-height: 5rem; }
  .post__user--square {
    max-height: 6rem; }
  .post__user--post {
    border-radius: 50%;
    max-height: 3rem; }

.post__action {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2.5rem; }

.icon__action {
  padding: 2rem 1rem; }
  .icon__action:hover {
    background-color: #CCCCCC;
    border-radius: .5rem; }

.btn__section {
  background-color: #ffff;
  border: #CCCCCC solid 0.1rem;
  border-radius: 3rem;
  width: 100%;
  padding: 1.8rem 1.5rem;
  color: #5E5E5E;
  font-size: 1.5rem;
  text-align: left; }
  .btn__section:hover {
    border: solid #5E5E5E 0.2rem;
    color: #5E5E5E;
    font-weight: bold; }

.fa-youtube {
  font-size: 1.8rem;
  color: #057642; }

.fa-elementor {
  font-size: 1.8rem;
  color: #a90e2c; }

.icon-text {
  color: #5E5E5E;
  margin-left: 1rem;
  font-size: 1.4rem; }

.box__icon {
  display: flex;
  justify-content: center; }

.wrapper__order {
  display: flex;
  align-items: center;
  padding: 2rem 0; }

.order__line {
  border: solid #CCCCCC 0.1rem;
  width: 60%; }

.order__text {
  color: #5E5E5E;
  font-size: 1.2rem;
  padding: 0 1rem; }
  .order__text--black {
    color: #000000; }

.wrapper__emoji {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%; }

.emoji__perfil-date {
  display: flex;
  justify-content: space-between; }

.perfil-date__name {
  font-size: 1.5rem;
  color: #000000;
  font-weight: bold;
  margin-right: 1rem; }
  .perfil-date__name--gray {
    font-size: 1.2rem;
    color: #5E5E5E;
    font-weight: bold; }
  .perfil-date__name--gray-light {
    color: #5E5E5E; }
  .perfil-date__name--post {
    font-weight: bold; }

.fa-ellipsis {
  font-size: 2rem;
  color: #5E5E5E; }

.perfil-date__text {
  font-size: 1.2rem;
  color: #5E5E5E; }
  .perfil-date__text--black {
    font-size: 1.5rem;
    align-items: end;
    padding: 1rem 1.6rem; }

.fa-earth-americas {
  color: #5E5E5E;
  margin-left: .5rem; }

.wrapper__comments {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
  border-bottom: #CCCCCC solid 0.1rem; }

.fa-face-laugh-beam {
  color: #33FFDD; }

.fa-thumbs-up {
  color: #0A66C2; }

.fa-hand-holding-heart {
  color: #A533FF; }

.comments__text {
  color: #5E5E5E; }

.post__img {
  width: 100%; }

.wrapper__action {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 2rem; }

.user__action {
  border-radius: 50%;
  max-height: 3rem; }

.action__img {
  display: flex;
  align-items: center; }

.fa-regular {
  font-size: 1.8rem;
  color: #5E5E5E;
  padding: 2rem; }
  .fa-regular:active {
    color: #0A66C2; }

.fa-retweet {
  font-size: 1.8rem;
  color: #5E5E5E;
  padding: 2rem; }
  .fa-retweet:active {
    color: #0A66C2; }

.wrapper__download {
  padding: 1.5rem 0;
  text-align: center;
  font-size: 1.4rem;
  border-bottom: #CCCCCC solid 0.01rem; }

.download__link {
  color: #0A66C2; }
  .download__link i {
    margin-right: .5rem; }

.fa-heart {
  color: #d40800; }

.perfil-date__box {
  font-size: 1.5rem;
  align-self: flex-end; }

.perfil-date__link {
  color: #0A66C2; }
