$gray-light:#CCCCCC;
$white-nav: #EBEBEB;
$blue-active: #0A66C2;
$gray:#5E5E5E;
$blue-light: #d5fff7;
$white: #ffff;
$black: #000000;
$green: #057642;
$yellow-dark: #e7c33b;
$red-dark: #a90e2c;
$blue-opacity: #00538c;
$purpure: #A533FF;
$red: #d40800;
$input: #eef3f8;



//value
$font-size:62.5%;
$padding-container-mobile: 0 1.6rem;