@import"config";
@import"tipografia";


*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

html {
    font-size: $font-size;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color:$white-nav;
}


img {
    display: block;
    max-width: 100%;
  }
  
  button {
    outline: 0;
    border: 0;
  }
  
a {
    text-decoration: none;
}

  input {
    outline: none;
    border: none;

    &::placeholder {
        color:$blue-light;
    }
  }

  .container {
    padding: $padding-container-mobile;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
  }

.section {
    padding: 1rem 0;
  }
  

  .nav__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    color:$gray;
    background-color: $white;
    margin-bottom: 2rem;
  }

  .wrapper__perfil {
    position: relative;

  }

  .form__search{
    display: none;
  }

  .perfil__nav-bar {
    background-image: url(/img/linke-nav-bar.jpg);
    background-position: center;
    background-size: cover;
    display: block;
    min-height: 10rem;
    margin: -1.2rem -1.2rem 0;
  }


.perfil__box{
  padding: 0;
  background-color: $white;
}

  .perfil__image {
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    top: -5rem;
    padding: .3rem;
    background-color: $white;
  }

  .perfil__title {
color:$black;
font-size: 2rem;
text-align: center;
margin: .5rem;


  }
  
  .perfil__text {
 @extend %text;
    text-align: center;
    padding-bottom: 1rem;
}

.section__text {
  @extend %text-gray;
  margin: 2rem 0;
  text-align: center;
}

.wrapper__post {
  background-color: $white;
padding: 1rem 0;
margin: 1rem 0;
}

.post__section {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
 margin-bottom: 2rem;

 &--border {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  border-bottom: $gray-light solid .1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
 }
}

.post__user {
  border-radius: 50%;
  max-height: 5rem;

  &--square {
    max-height: 6rem;
  }

  &--post {
    border-radius: 50%;
    max-height: 3rem;
  }
}

.post__action {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2.5rem;
}



.icon__action {
  padding: 2rem 1rem;

  &:hover {
background-color: $gray-light;
border-radius: .5rem;
  }
}

.btn__section {
  background-color: $white;
  border: $gray-light solid .1rem;
  border-radius: 3rem;
  width: 100%;
  padding: 1.8rem 1.5rem;
  color: $gray;
  font-size: 1.5rem;
  text-align: left;

  &:hover {
    border: solid $gray .2rem;
    color: $gray;
    font-weight: bold;
  }
}

.fa-image {
  font-size: 1.8rem;
  color: $blue-active;
}

.fa-youtube {
  font-size: 1.8rem;
  color: $green;
}

.fa-calendar-days {
  font-size: 1.8rem;
  color: $yellow-dark;
}

.fa-elementor {
  font-size: 1.8rem;
  color: $red-dark;
}
.icon-text {
  color: $gray;
 margin-left: 1rem;
 font-size: 1.4rem;
}

.box__icon {
  display: flex;
  justify-content: center;
}

.wrapper__order {
  display: flex;
  align-items: center;
  padding: 2rem 0;
}

.order__line {
  border: solid $gray-light .1rem;
  width: 60%;
}

.order__text {
  color: $gray;
  font-size: 1.2rem;
padding: 0 1rem;

&--black {
  color: $black;
}
}

.wrapper__emoji {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.emoji__perfil-date {
  display: flex;
  justify-content: space-between;
}

.perfil-date__name {
  font-size: 1.5rem;
  color: $black;
  font-weight: bold;
  margin-right: 1rem;

  &--gray {
    font-size: 1.2rem;
    color: $gray;
    font-weight: bold;
  }
&--gray-light {
  color: $gray;
}

  &--post {
    font-weight: bold;
  }
}


.fa-ellipsis {
  font-size: 2rem;
  color: $gray;
}

.perfil-date__text {
  font-size: 1.2rem;
  color: $gray;

  &--black {
    font-size: 1.5rem;
    align-items: end;
    padding: 1rem 1.6rem;

  }
}

.fa-earth-americas {
  color: $gray;
  margin-left: .5rem;
}

.wrapper__comments{
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
  border-bottom: $gray-light solid .1rem;
}

.fa-face-laugh-beam {
  color: $blue-opacity;
}

.fa-thumbs-up {
  color: $blue-active;
}

.fa-hand-holding-heart {
  color: $purpure;
}

.comments__text {
  color: $gray;
}

.post__img {
  width: 100%;
}

.wrapper__action {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 2rem;
}

.user__action {
  border-radius: 50%;
  max-height: 3rem;
}

.action__img {
display: flex;
align-items: center;
}

.fa-regular {
  font-size: 1.8rem;
  color: $gray;
  padding: 2rem;

  &:active {
    color: $blue-active;
  }
}

.fa-retweet {
  font-size: 1.8rem;
  color: $gray;
  padding: 2rem;
  &:active {
    color: $blue-active;
  }

}

.wrapper__download {
  padding: 1.5rem 0;
 text-align: center;
 font-size: 1.4rem;
 border-bottom: $gray-light solid .01rem;
}

.download__link {
  color: $blue-active;

  & i {
    margin-right: .5rem;
  }
}

.fa-heart {
  color: $red;
}