@import"config";
@import"tipografia";


*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

html {
    font-size: $font-size;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color:$white-nav;
}


img {
    display: block;
    max-width: 100%;
  }
  
  button {
    outline: 0;
    border: 0;
  }
  
a {
    text-decoration: none;
}

  input {
    outline: none;
    border: none;

    &::placeholder {
        color:$gray;
        font-size: 1.4rem;
    }
  }

  .wrapper__header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 2;
  }

  .container {
    padding: $padding-container-mobile;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
  }

.section {
    padding: 1rem 0;
  }
  
//  header--nav

  .nav__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    color:$gray;
    background-color: $white;
    margin-bottom: 2rem;

    
  }
  

  .icon__nav--display {
display: none;
    
  }
.fa-solid {
  color: $gray;

  &:hover {
    color: $black;
  }
}

.wrapper__flex-input {
  display: flex;
  align-items: center;
  column-gap: 5rem;
}

.fa-calendar-days {
  font-size: 1.8rem;
  color: $yellow-dark;
}

.fa-image {
  font-size: 1.8rem;
  color: $blue-active;
}

  .wrapper__perfil {
    position: relative;

    &--user {
      margin-top: 8rem;
    }

    &--section {
      margin-top: 1rem;
    }

    &--margin {
      margin-right: 2rem;
    }
  }

  .form__search{
    display: none;
  }

  .perfil__nav-bar {
    background-image: url(/img/linke-nav-bar.jpg);
    background-position: center;
    background-size: cover;
    display: block;
    min-height: 10rem;

    &--perfil {
      background-image: url(/img/linke-nav-bar.jpg);
      background-position: center;
      background-size: cover;
      display: block;
      min-height: 10rem;
    }
  }

  .wrapper__tablet {
    display: none;
  }

.wrapper{
padding-top: 7.5rem;

}
.perfil__box{
  padding: 0;
  background-color: $white;

  &-section {
    display: none;
  }

  &--perfil {
    position: relative;
    background-color: $white;
  }
}

  .perfil__image {
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    top: -5rem;
    padding: .3rem;
    background-color: $white;
  }

  .perfil__title {
color:$black;
font-size: 2rem;
text-align: center;
margin: .5rem;

&:hover {
  text-decoration: underline;
}

&--perfil {
  font-size: 3rem;

  
}


&--perfil:hover {
  text-decoration: underline;
}

&--black {
  font-size: 2rem;
 padding: 1rem 0;


}

&--strong {
  font-weight: bold;
  font-size: 1.5rem;
  margin: .2rem 0;
} 

&--strong:hover {
  color: $blue-active;
  text-decoration: underline;
}

&--section {
  font-size: 2rem;
}
  }
  
  .perfil__text {
 @extend %text;
    text-align: center;
    padding-bottom: 1rem;

    &--perfil {
      font-size: 1.4rem;
      margin: 1rem 0;
      
      
    }

    &--gray {
      font-size: 1.4rem;
      color: $gray;
      margin: .2rem 0;
    }

    &--blue {
      color: $blue-active;
      font-size: 1.4rem;
      font-weight: bold;
    }

    &--blue:hover {
      text-decoration: underline;
    }
    
    &--black {
      font-size: 1.4rem;  
      }

      &--bold {
        font-size: 1.4rem;
        font-weight: bold
      }

&--margin {
  font-size: 1.4rem; 
  margin-left: 2rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid $gray-light .1rem; 
}

&--center {
  font-size: 1.4rem;
      color: $gray;
      text-align: center;
      padding: 1rem 0;
}

    }




.section__text {
  @extend %text-gray;
  margin: 2rem 0;
  text-align: center;
}

.wrapper__post {
  background-color: $white;
padding: 1rem 0;
margin: 1rem 0;
}

.post__section {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
 margin-bottom: 2rem;

 &--border {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  border-bottom: $gray-light solid .1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
 }

 &--info {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
 }

}

.post__user {
  border-radius: 50%;
  max-height: 5rem;

  &--square {
    max-height: 6rem;
  }

  &--post {
    border-radius: 50%;
    max-height: 3rem;
  }

  &--margin {
    border-radius: 50%;
  max-height: 5rem;
  margin-bottom: 5rem;
  }

  &--info {
    max-height: 4rem;
  }
}

.post__action {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2.5rem;
}



.icon__action {
  padding: 2rem 1rem;

  &:hover {
background-color: $gray-light;
border-radius: .5rem;
  } 


}

.btn__section {
  background-color: $white;
  border: $gray-light solid .1rem;
  border-radius: 3rem;
  width: 100%;
  padding: 1.8rem 1.5rem;
  color: $gray;
  font-size: 1.5rem;
  text-align: left;

  &:hover {
    border: solid $gray .2rem;
    color: $gray;
    font-weight: bold;
  }
}


.fa-youtube {
  font-size: 1.8rem;
  color: $green;
}


.fa-elementor {
  font-size: 1.8rem;
  color: $red-dark;
}


.icon-text {
  color: $gray;
 margin-left: 1rem;
 font-size: 1.4rem;
}

.box__icon {
  display: flex;
  justify-content: center;
}

.wrapper__order {
  display: flex;
  align-items: center;
  padding: 2rem 0;
}

.order__line {
  border: solid $gray-light .1rem;
  width: 60%;
}

.order__text {
  color: $gray;
  font-size: 1.2rem;
padding: 0 1rem;

&--black {
  color: $black;
}
}

.wrapper__emoji {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.emoji__perfil-date {
  display: flex;
  justify-content: space-between;
}

.perfil-date__name {
  font-size: 1.5rem;
  color: $black;
  font-weight: bold;
  margin-right: 1rem;

  &--gray {
    font-size: 1.2rem;
    color: $gray;
    font-weight: bold;
  }
&--gray-light {
  color: $gray;
}

  &--post {
    font-weight: bold;
  }
}


.fa-ellipsis {
  font-size: 2rem;
  color: $gray;
}

.perfil-date__text {
  font-size: 1.2rem;
  color: $gray;

  &--black {
    font-size: 1.5rem;
    align-items: end;
    padding: 1rem 1.6rem;

  }
}

.fa-earth-americas {
  color: $gray;
  margin-left: .5rem;
}

.wrapper__comments{
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
  border-bottom: $gray-light solid .1rem;
}

.fa-face-laugh-beam {
  color: $blue-opacity;
}

.fa-thumbs-up {
  color: $blue-active;
}

.fa-hand-holding-heart {
  color: $purpure;
}

.comments__text {
  color: $gray;
}

.post__img {
  width: 100%;
}

.wrapper__action {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 2rem;
}

.user__action {
  border-radius: 50%;
  max-height: 3rem;
}

.action__img {
display: flex;
align-items: center;
}

.fa-regular {
  font-size: 1.8rem;
  color: $gray;
  padding: 2rem;

  &:active {
    color: $blue-active;
  }
}

.fa-retweet {
  font-size: 1.8rem;
  color: $gray;
  padding: 2rem;
  &:active {
    color: $blue-active;
  }

}

.wrapper__download {
  padding: 1.5rem 0;
 text-align: center;
 font-size: 1.4rem;
 border-bottom: $gray-light solid .01rem;
}

.download__link {
  color: $blue-active;

  & i {
    margin-right: .5rem;
  }
}

.fa-heart {
  color: $red;
}

.perfil-date__box {
  font-size: 1.5rem;
  align-self: flex-end;
}

.perfil-date__link {
  color: $blue-active;

}

.wrapper__fotter {
  display: none;
}

// perfil

.user__img--perfil{
  position: relative;
  top: -5rem;
  left: 2rem;

  border-radius: 50%;
  padding: .4rem;
  background-color: $white;

}

.wrapper__hero {
  max-width: 30rem;
}

.btn__action {

  &--blue{
    background-color: $blue-active;
  color: $white;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 2rem 1rem;
  border-radius: 1rem;
  margin: 1rem 0;
  }

  &--blue:hover {
    background-color: $blue-opacity;
  }
  
&--white {
  background-color: $white;
  color: $blue-active;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 2rem 1rem;
  border: $blue-active solid .1rem;
  border-radius: 1rem;
  margin: 1rem 0;
}

&--white:hover {
  background-color: $blue-light;
}
}

.wrapper__info {
  background-color: $gray-light;
  padding: 2rem 1rem;
  margin: 1rem 0;

  &--white {
background-color: $white;
padding: 2rem 1rem;
border: solid $gray .1rem;
border-radius: 1rem;
margin: 1rem 0;

  }
}

.wrapper__text{

  &--border {
    display: flex;
  justify-content: space-between;
  border-bottom: solid $gray-light .1rem;
  }

  &--flex {
     display: flex;
  justify-content: space-between;
  }
 
  &--flex:hover {
    background-color: $gray-light;
  }

}

.fa-pencil {
  font-size: 1.4rem;
}

.padding {
  padding: 1rem 0;

  
}

.fa-eye {
  font-size: 1.5rem;
  margin-right: .5rem;
}

.fa-user-group {
  font-size: 1.4rem;
  margin-right: .5rem;
}

.fa-chart-simple {
  font-size: 1.5rem;
  margin-right: .5rem;
}



.fa-satellite-dish {
  font-size: 1.5rem;
  margin-right: .5rem;
  margin-bottom: 1rem;
}

.fa-plus {
  font-size: 1.5rem;
}

.wrapper__flex {
  display: flex;
  margin: 1rem 0;

  &--aling {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;

  }
}

.btn__section--gray {
  padding: 1rem 2rem;
}


.btn__connect {
  margin: 1rem 0;
  background-color: $white;
  color: $gray;
  font-size: 1.5rem;
  border: solid $gray .1rem;
  border-radius: 5rem;
  padding: .5rem 1rem;

  &:hover {
    background-color: $gray-light;
    border: solid $gray .2rem;
  }
}

.section__text-gray {
  color: $gray;
  font-size: 1.5rem;

}

.info__text--gray {
  font-size: 1.7rem;
  color: $gray;
  font-weight: bold;
}

.fa-circle-question{
font-size: 1.5rem;

}
@media (min-width:750px ) {
  .icon__nav--display {
    display: inline;
  }

.perfil__box {
  padding: 0 1rem;
  border-bottom: $gray-light solid .1rem;

  &-section {
    display: block;
  }

  &--perfil {
    margin: 0 auto;
         max-width: 1200px;
           width: 90%;
           border-radius: .5rem;
  }
}

.wrapper__tablet {
  display: block;
}

.display {
  display: none;
}

.wrapper__section--tablet {
  
  background-color: $white;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 2rem 1rem;
  font-size: 1.2rem;

  &-border {
    padding: 1rem 1rem;
    background-color: $white;
    border-bottom: $gray-light solid .1rem;
  }

  &:hover {
    background-color: $gray-light;
  }
}


.perfil__nav-bar {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

  &--perfil {
    margin: 0 auto;
      max-width: 1200px;
   width: 90%;
  }
}

.wrapper__perfil {
  margin: 1rem 1rem;
}



 .wrapper__post{
  margin: 1rem auto;
  max-width: 1200px;
  width: 90%;
  border-radius: .5rem;

 }

 .wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
 }

 .wrapper__section {
  display: none;
 }


 .section__text-tablet {
  color: $gray;
  font-size: 1.2rem;
  font-weight: bold;

 }

 .section__text-blue {
  color: $blue-active;
  font-weight: bold;
  font-size: 1.2rem;
 }

 .section__text-black {
  color: $black;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;

&:hover {
  background-color: $gray-light;
}

 }

.perfil__box-section {
  background-color: $white;
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 2rem 1rem;
  font-size: 1.2rem;
}
.margin {
  margin: 1rem 0;

  &:hover {
    background-color: $gray-light;
  }
}

.fa-users {
  margin-right: .5rem;
}

.fa-hashtag {
  margin-right: .5rem;
}


// perfil

.container__grid {
  display: grid;
  grid-template-columns: 70% 30%;
}


.container__section {
  margin-top: 8rem;
}

}

@media (min-width: 1020px) {
  .wrapper {
    display: grid;
    grid-template-columns: 20% 60% 20%;
   }

   .wrapper__fotter {
    display: block;
  }

   .wrapper__perfil{
    margin-right: auto;
    &--right {
      margin-right: auto;
    }
   }

   .display {
    display: block;
  }

   .section__text-desktop {
    font-size: 1.4rem;
    font-weight: bold;

   }

   .fa-circle {
    font-size: .8rem;
   }

   .wrapper__grid {
    display: grid;
    row-gap: .7rem;
    text-align: center;
    margin-top: 5rem;

    &--section {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
    }

    &--three {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
   }

   .text__link {
    color: $gray;
    font-weight: lighter;
    margin-left: 1rem;
    font-size: 1.4rem;
    
    &:hover {
      color: $blue-active;
      text-decoration: underline;
    }
   }

   .form {
    position: relative;

    &__search {
    display: block;
    background-color: $input;
    padding: 1rem 6rem 1rem 3rem;
    border-radius: .5rem;
   }

   &__search:hover {
    border: $gray-light solid .1rem;
   }
   }
   
   
   .fa-magnifying-glass {
position: absolute;
top: 1rem;
left: 1rem;
   }
   
   .wrapper__flex-input {
    display: flex;
    column-gap: 2rem;
   }

   // perfil
.wrapper__text--display {
  display: none;
}


.wrapper__info {
  border-radius: 1rem;
}

.grid__padding {
 padding: 2rem;
}


  }



