@import"config";
@import"tipografia";


*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

html {
    font-size: $font-size;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color:$white-nav;
}


img {
    display: block;
    max-width: 100%;
  }
  
  button {
    outline: 0;
    border: 0;
  }
  
a {
    text-decoration: none;
}

  input {
    outline: none;
    border: none;

    &::placeholder {
        color:$blue-light;
    }
  }

  .container {
    padding: $padding-container-mobile;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
  }

.section {
    padding: 1rem 0;
  }
  

  .nav__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    color:$gray;
    background-color: $white;
    margin-bottom: 2rem;
  }

  .wrapper__perfil {
    position: relative;

  }

  .form__search{
    display: none;
  }

  .perfil__nav-bar {
    background-image: url(/img/linke-nav-bar.jpg);
    background-position: center;
    background-size: cover;
    display: block;
    min-height: 10rem;
    margin: -1.2rem -1.2rem 0;
  }


.perfil__box{
  padding: 0;
  background-color: $white;
}

  .perfil__image {
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    top: -5rem;
    padding: .3rem;
    background-color: $white;
  }

  .perfil__title {
color:$black;
font-size: 2rem;
text-align: center;
margin: .5rem;


  }
  
  .perfil__text {
 @extend %text;
    text-align: center;
 
}